@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture&display=swap');
@import url("https://fonts.googleapis.com/css?family=Black+And+White+Picture|Yesteryear&display=swap");
nav {
    color: #80ffff;
    font-family: 'Black And White Picture', sans-serif;
    margin-bottom: 5%;
    font-size: 60px;
}
nav img{
    color: #80ffff;
}
footer{
    color: #80ffff;
    font-size: 30px;
    font-family: 'Yesteryear', cursive;
}
#con-1{
    background-color:#80ffff;
    margin-top: 5%;
    font-family: 'Black And White Picture', sans-serif;
    color: #fff;
    font-weight: 280;
    font-size: 25px;
}
.l{
    color: blue;
    font-size: 30px;
}
nav img{
    font-family: 'Black And White Picture', sans-serif;
}

@media only screen and (max:width= 450px){
    #con-1{
        width: 100%;
    }
}
#like, #unlike, #delete{
    padding: 5%;
    color: white;
}
#del{
    padding-top: 3%;
    margin-left: 7%;
}


