@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture&display=swap');
@import url("https://fonts.googleapis.com/css?family=Black+And+White+Picture|Yesteryear&display=swap");
nav {
    color:#99ffdd;
    font-family: 'Black And White Picture', sans-serif;
    margin-bottom: 5%;
}
nav img{
    color:#80ffd4;
}
footer{
    color:#80ffd4;
    font-size: 20px;
    font-family: 'Yesteryear', cursive;
}
#con-1{
    background-color:rgba(26, 27, 26, 0.685);
    margin-top: 5%;
    font-family: 'Black And White Picture', sans-serif;
    color: #fff;
    font-weight: 280;
    font-size: 20px;
}