@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture&display=swap');
@import url("https://fonts.googleapis.com/css?family=Black+And+White+Picture|Yesteryear&display=swap");

*{
    font-family: 'Black And White Picture', sans-serif;
}
#form{
    width: 100%;
    
    font-family: 'Black And White Picture', sans-serif;
}
.img{
    float: right;
}
.img1{
    float: left;
}

input{
    left: 50%;
}
.jumbotron{
    color: cornflowerblue;
}
@media only screen and (max:width= 450px){
    #form{
        width: 100%;
    }
}