@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture&display=swap');
@import url("https://fonts.googleapis.com/css?family=Black+And+White+Picture|Yesteryear&display=swap");

*{
    font-family: 'Black And White Picture', sans-serif;
}
#form{
    width: 100%;
    
    font-family: 'Black And White Picture', sans-serif;
}


.img{
    
    padding-right: 8%;
}

input{
    left: 50%;
}
.jumbotron{
   background-color: #b3ffff;
}
@media only screen and (max:width= 450px){
    #form , #mg {
        width: 100%;
    }
}